MOVES_CLIENT_ID
MOVES_CLIENT_SECRET
MQTT_BASE_TOPIC
AUTOMATIC_CLIENT_ID
AUTOMATIC_CLIENT_SECRET
dropbox_callback_url
dropbox_client_id
dropbox_client_secret
foursquare_callback_url
foursquare_client_id
foursquare_client_secret
moves_callback_url
moves_client_id
moves_client_secret
strava_callback_url
strava_client_id
strava_client_secret
twitter_callback_url
twitter_client_id
twitter_client_secret
facebook_callback_url
facebook_client_id
facebook_client_secret
lastfm_client_id
lastfm_client_secret
instagram_client_id
instagram_client_secret
instagram_callback_url
automatic_callback_url
automatic_client_id
automatic_client_secret
GOOGLE_API_KEY
DARK_SKY_API_KEY
